.App {

}
.input-container{
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    margin-right: 200px;

    /*max-width: 600px;*/
    /*margin: 200px;*/
    /*transition: 0.4s;*/
    /*box-shadow: 0 0 0 1px var(--border-color);*/
    /*padding-left: 0;*/

}

.content-block{
    padding: 10px;
    width: 1920px;
    height: 780px;
    /*background: #124158;*/
    /*background: #626495;*/
    background-image: url("/public/img/civ_content.jpg");
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;

}
.content-block-blk{
    width: 780px;
    height: 200px;
    /*background: #236161;*/
    background: #000000;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    border: 1px solid #ffffff;
    animation-name: content-block-blk-anim;
    animation-duration: 5s;
    transition: transform 0.4s ease;
}

.content-block-blk:hover{
    transform: translateX(10px);
}
.content-block-blk-civ:hover{
    background-image: url("/public/img/content_block_1.png");
    background-position: center;
}
.content-block-blk-unit:hover{
    background-image: url("/public/img/content_block_unit.png");
    background-position: center;
}
.content-block-blk-resour:hover{
    background-image: url("/public/img/content_block_resources.png");
    background-position: inherit;
}
.content-block-blk-tech:hover{
    background-image: url("/public/img/content_block_tech.jpg");
    background-position: center;
}
.content-block-blk-building:hover{
    background-image: url("/public/img/content_block_buildings.jpg");
    background-position: center;
}
.content-block-blk-text{
    margin-left: 10px;
}

.parser-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.parser-content-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 290px;
    transition: transform 0.3s ease;
}

.parser-content-block:hover{
    transform: scale(1.1);
}
.parser-content-info{
    /*border: 5px dashed red;*/
    width: 960px;
    background: #060610;
}
.parser-content-page{
    display: flex;
    flex-direction: column;
}
.parser-content-info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parser-content-info-header-gameinfo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.parser-content-info-header-exit{
    width: 88px;
    height: 52px;
    font-size: 43px;
    color: white;
    background: #2e3356;
    border: none;
    border-radius: 64px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}
.parser-content-info-header-exit:hover{
    animation: colorChange 4s infinite;
}
.parser-content-nameandsearch{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    align-items: center;
}
@keyframes colorChange {
    0% {
        background-color: rgb(35, 97, 97); /* Красный цвет */
    }
    33% {
        background-color: rgb(255, 128, 0); /* Зеленый цвет */
    }
    66% {
        background-color: rgb(46, 51, 86); /* Синий цвет */
    }
    100% {
        background-color: rgb(76, 12, 12); /* Возвращаемся к красному */
    }
}
.parser-content-info-content{
    /*width: 780px;*/
    /*height: 780px;*/
    margin: 10px;
    padding: 10px;
}
.parser-content-info-content-leaderinfo{
    display: flex;
}
.parser-content-info-content-leaderinfo_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-container{
    width: 980px;
    height: 100%;
    border-radius: 20px;
    background-color: #0b0b39;
    overflow-y: auto;
    animation: fadeIn 0.4s linear;
}
.modal-container::-webkit-scrollbar{
    /*background: orange;*/
    height: 1px;
}
.modal-container::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 20px;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



@media (max-width: 1920px) {
    .content-block{

        width: 1920px;

    }

}
@media (max-width: 1600px) {
    .content-block{
        width: 1600px;
    }
}
@media (max-width: 1280px) {
    .content-block{
        width: 1280px;
    }
}
@media (max-width: 768px) {
    .content-block{
        width: 768px;
    }
}

@media (max-width: 480px) {
    .content-block{
        width: 100%;
    }
}
/*width 780 height 200*/
@keyframes content-block-blk-anim {
    from{
        width: 100px;
        height: 100px;
    }
    to{
        width: 780px;
        height: 200px;
    }
}


