.footer{
    width: 1920px;
    height: 230px;
    /*background-image: url("/public/img/civ_footer.jpg");*/
    /*background-position: bottom;*/
    background-image: url("/public/img/civ_header1.jpg");
    background-position: bottom;
    border: 2px solid cyan; /* Измените цвет и толщину границы по желанию */
    border-radius: 10px; /* Закругление углов, если нужно */
    box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.5); /* Неоновая подсветка */
}